<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mtg.gmssettingsprovideroverlay">
    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.providers.settings"
             android:isStatic="true"
             android:priority="1337" />
</manifest>
